// Dark and middle green; light is gray. Copy/pasted from lizard-ui.
@dark: #115e67;
@middle: #7fa9ae;
@light: #d9d9d6;

@mapheight: 300px;


#burgomaster-graphs {
  .information-pointer {
    img {
      display: block;
      margin: auto;
    }
    margin: 10px;
    float: left;
  }
  height: 140px;
  width: 100%;
}

#bouwcam {
  img {
    width: 300px;
  }
}

#burgomaster-logbook {
  overflow: auto;
  #burgomaster-logbook-inner {
    padding: 10px;
  }

}

#content {
  overflow: hidden;
}

.map-at-top {
  height: @mapheight;
}

#below-map {
  position: absolute;
  top: @mapheight;
  bottom: 0;
  width: 100%;
}

#expert-graph {
  height: 100%;
}

#cross-section, #longitudinal-cross-section {
  display: hidden;
  .cross-section-image, .graphs {
    height: 100%;
  }
}
