#burgomaster-graphs {
  height: 140px;
  width: 100%;
}
#burgomaster-graphs .information-pointer {
  margin: 10px;
  float: left;
}
#burgomaster-graphs .information-pointer img {
  display: block;
  margin: auto;
}
#bouwcam img {
  width: 300px;
}
#burgomaster-logbook {
  overflow: auto;
}
#burgomaster-logbook #burgomaster-logbook-inner {
  padding: 10px;
}
#content {
  overflow: hidden;
}
.map-at-top {
  height: 300px;
}
#below-map {
  position: absolute;
  top: 300px;
  bottom: 0;
  width: 100%;
}
#expert-graph {
  height: 100%;
}
#cross-section,
#longitudinal-cross-section {
  height: 100%;
  display: hidden;
}
#cross-section .cross-section-image,
#longitudinal-cross-section .cross-section-image,
#cross-section .graphs,
#longitudinal-cross-section .graphs {
  height: 50%;
}

