#burgomaster-graphs {
  background-color: #d9d9d6;
  height: 140px;
  width: 100%;
}
#burgomaster-graphs .information-pointer {
  margin: 10px;
  float: left;
}
#burgomaster-graphs .information-pointer img {
  display: block;
  margin: auto;
}
#burgomaster-logbook-inner {
  padding: 10px;
}
#bouwcam img {
  width: 300px;
}
#expert-graph img {
  height: 400px;
}
