{% extends "lizard_map/wms.html" %}
{% load i18n %}
{% load thumbnail %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet"
        href="{{ STATIC_URL }}lizard_levee/lizard_levee.css"
        type="text/css"
        media="screen, projection" />
{% endblock css %}


{% block sidebar %}
  <h2>{{ view.page_title }}</h2>
  <p class="muted">
    {% blocktrans %}Filter on sensor types.{% endblocktrans %}
  </p>
  <form>
    {% for sensor_type in view.sensor_types %}
      <label class="checkbox">
        <input type="checkbox" /> {{ sensor_type }}
      </label>
    {% endfor %}
  </form>

  <h2>{% trans "Cross sections" %}</h2>
  <ul>
    {% for cross_section in view.cross_sections %}
      <li>
        <a href="#">
          {{ cross_section }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <h2>{% trans "Longitudinal cross sections" %}</h2>
  <ul>
    {% for longitudinal_section in view.longitudinal_sections %}
      <li>
        <a href="#">
          {{ longitudinal_section }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <h2>{% trans "Generic information" %}</h2>
  <p class="muted">
    {% blocktrans %}Information shown on the overview page.{% endblocktrans %}
  </p>
  <h3>{% trans "Relevant links" %}</h3>
  <ul>
    {% for link in view.links %}
      <li>
        <a href="{{ link.url }}"
           {% if link.description %}
           title="{{ link.description }}"
           {% endif %}
           >{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h3>{% trans "Extra pointers (with explanatory image)" %}</h3>
  <ul>
    {% for information_pointer in view.information_pointers %}
      {% thumbnail information_pointer.image "100x100" crop="center" as im %}
        <li class="has_popover"
            title="{{ information_pointer.title }}"
            data-content="{{ information_pointer.description }}<br/><img src='{{ im.url }}' />">
          <a href="{{ information_pointer.href }}">
            {{ information_pointer.title }}
          </a>
        </li>
      {% endthumbnail %}
    {% endfor %}
  </ul>
{% endblock sidebar %}


{% block content %}
  {{ block.super }}  {# The map #}
  <div id="expert-graph"
       class="give-me-height">
    <img src="{{ STATIC_URL }}lizard_levee/dummy-expert-graph.jpg" />
  </div>
  <div class="give-me-height">
    {% thumbnail view.area.longitudinal_cross_section_image "800x100" crop="center" as im %}
      <img src="{{ im.url }}"
           width="{{ im.width }}"
           height="{{ im.height }}" />
    {% endthumbnail %}
  </div>


{% endblock %}
