{# Use as a box in lizard-box, type "js load" #}
<style type="text/css">
ul.horizontal-list-tags li {
    display: inline;
    list-style-type: none;
    background-color: #ddf5f5;
    padding: 3px;
    margin: 0 10px 0 0;
}
.select-message-tag {
    background-color: #ffffff;
}
#message-box-messages li {
    list-style-type: none;
    border-bottom: 2px solid #ffffff;
}
</style>
<div class="message-box">
  {% if not view.popup %}
  <div id="message-box-tags">
    <form id="filter-tags" action="{% url lizard_levee_message_box slug=view.message_box.slug %}" type="POST">
      <ul class="nav nav-pills select-message-tag nav-rounded">
        {% for tag, tag_checked in view.tags_checked %}
        <li>
          <a href="#"><input type="checkbox" name="{{ tag.tag }}"{% if tag_checked %} checked{% endif %}/><font color="{{ tag.html_color }}">{{ tag }}</font></a>
        </li>
        {% endfor %}
      </ul>
    </form>
  </div>
  {% endif %}

  <div id="message-box-messages">
    <ul>
      {% autoescape off %}
      {% for message in view.messages %}
      <li>{% if message.image_url %}<div style="width: 20px; display: block;"><a href="{{ message.image_link }}" target="_blank"><img src="{{ message.image_url }}"></a></div>{% endif %}{{ message.as_html }}</li>
      {% endfor %}
      {% endautoescape %}
    </ul>
  </div>

</div>
